<h1>Homes#top</h1>
<p>Find me in app/views/homes/top.html.erb</p>



<li>
    <%= link_to "Log in", new_customer_session_path %>
</li>
<li>
    <%= link_to "Sign Up", new_customer_registration_path %>
</li>
